body{
background:#111827;
font-family:Arial,sans-serif;
}

.event-card{
background:#1f2937;
color:white;
border-radius:15px;
overflow:hidden;
box-shadow:0 0 15px rgba(255,193,7,.4);
}

.card-img-top{
height:400px;
object-fit:cover;
}

.btn-warning{
font-weight:bold;
font-size:18px;
}

.btn-warning:hover{
background:#ff9800;
}

footer{
margin-top:40px;
}