body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f172a,#1e293b,#111827);
    font-family:Arial,sans-serif;
}

.register-box{
    width:400px;
    background:#1f2937;
    padding:35px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(255,193,7,0.4);
}

.register-box h1{
    color:#ffc107;
    text-align:center;
    margin-bottom:25px;
}

.form-control{
    background:#2d3748;
    color:white;
    border: 2px solid #ffc107;
    border-radius: 10px;
    padding:12px;
}

.form-control::placeholder{
    color:#6b7280;
    font-size: 16px;
    font-weight: 600;
    font-style:normal;
    letter-spacing: 1px;
}

.form-control:focus{
    border-color:#ffc107;
    box-shadow:0 0 10px #ffc107;
}

.btn-warning{
    font-weight: bold;
    border-radius: 10px;
    height: 45px;
}

.btn-primary{
    background:#ffc107;
    border:none;
    color:black;
    font-weight:bold;
}

.btn-primary:hover{
    background:#ffb300;
}

p{
    color:white;
}

a{
    color:#ffc107;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}